services:
  db:
    image: postgres
    restart: unless-stopped
    hostname: db
    ports:
      - "5430:5432"
    environment:
      POSTGRES_USER: ${postgres_user}
      POSTGRES_PASSWORD: ${postgres_password}
      POSTGRES_DB: ${postgres_db}
    volumes:
      - ./database:/var/lib/mysql
    networks:
      - nett
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres_user -d postgres_db" ]
      interval: 30s
      timeout: 10s
      retries: 5
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
  website:
    hostname: website
    build:
      context: frontend/
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    networks:
      - nett
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - auth-service
  auth-service:
    hostname: auth-service
    build:
      context: auth-service/
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./auth-service:/auth-service
    networks:
      - nett
    depends_on:
      db:
        condition: service_healthy


networks:
  nett:
    driver: bridge